@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pixelify Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    background-image: url('recursos/html.jpg');
    background-size:cover;
    background-position:center;
}

.title {
    position: absolute;
    font-size: 40px;
    color: white;
    margin-bottom: 20%;
}

.nav-item {
    color: #fff;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    position: relative;
    border-radius: 8px;
}

.nav-item.color1 { background-color: #dcdf41; }
.nav-item.color2 { background-color: #ff2f2f; }
.nav-item.color3 { background-color: #57e56c; }
.nav-item.color4 { background-color: #aaa; }

.nav-item:hover {
    transition: 0.4s ease-in-out;
}

.color1:hover { background-color: #bbbf3d; }
.color2:hover { background-color: #8f1e1e; }
.color3:hover { background-color: #2c7a37; }
.color4:hover { background-color: #252525; }
