:root {
    --main-color: #3866f2;
    --Verypaleblue: #e5e5f7;
}

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
}

.container {
    width: 360px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0, 0, 0, 5);
    text-align: center;
    padding-bottom: 20px;
}

.form_title {
    font-size: 2rem;
    margin-bottom: 0.5em;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5;
}

.form_paragraph {
    font-weight: 300;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    line-height: 1.4;
}

.form_submit {
    background-color: var(--main-color);
    color: white;
    font-family: inherit;
    font-size: 1em;
    padding: 0.8em 0;
    border: none;
    border-radius: 0.5em;
    letter-spacing: 0.5px;
    width: 100px;
    cursor:pointer;
}
.form_submitno {
    background-color: var(--main-color);
    color: white;
    font-family: inherit;
    font-size: 1em;
    padding: 0.8em 0;
    border: none;
    border-radius: 0.5em;
    letter-spacing: 0.5px;
    width: 100px;
    text-decoration: none;
}

.form_submitno:hover{
    background-color: #57bfff;
}

.form_submit:hover{
    background-color: #57bfff;
}