@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');
*{
    margin: 10px;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;

}
.main-heading {
    font-size: 24px;
    text-align: center;
    color: #ffffff;
     padding: 20px;
}

.action-link {
    display: inline-block;
    margin: 40px 10px;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #f82d97;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}

.action-link:hover {
    background-color: #c6066a;
}
.action-links{
    color: #fff !important;
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #f82d97;
    border-radius: 5px;
    font-weight: bold;
}
.data-table {
    width: 95%;
    border-collapse: collapse;
    margin: -10px auto 0 auto;
}
.table-cell {
    border: 1px solid #f82d97;
    padding: 8px;
}
.table-header {
    background-color: #f82d97;
    font-weight: bold;
}
.table-cell a {
    text-decoration: none;
    color: #3498db;
}

.table-cell a:hover {
    text-decoration: underline;
}
html, body {
    height: 100%;
    margin: 0;
}
body{
    background-image: url('rcs/html.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #ffffff;
}
.eje {
    float: left;
    color: #fff;
    text-decoration: none;
    position: absolute;
    transform: translate(35em, 11em);
    font-size: 20px;
}

