@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pixelify Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    background-image: url('rcs/html.jpg');
    background-size:cover;
    background-position:center;
    color: #fff;
}

.container {
    width: 50%;
    max-width: 1440px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0, 0, 0, 15);
    text-align: center;
}
.lista{
    color: red;
    margin-top: 10px;
}
.eje {
    float: left;
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
    
}
.titulo{
    position: absolute;
    bottom: 90%;
}